<% if @meal %>
<h1><%= @meal.title %></h1>


<h3>Ingredient List</h3>

<ul>
  <% @ingredients.each do |ingredient|%>
    <% mealing = @meal.meals_ingredients.find { |mi| mi.ingredient_id == ingredient.id } %>
    <li>
      <%= link_to ingredient.name, "#", {id:"ingredientName", data:{ingredient_id: ingredient.id}} %> (<%= mealing.amount %> <%= mealing.unit %>)
      <span style="font-size:12px">
        (<%= link_to "Remove", meal_ingredient_path(@meal, ingredient), method: :delete %>)
      </span>
      <div id="ingredientName-<%=ingredient.id%>"></div>
    </li>
  <% end %>
  </ul>


  <br>
  <br>
  <%= link_to "Back to Meal's list", meals_path %>
  <br>
  <%= link_to "View Ingredients", ingredients_path()%>

  <% else %>


  <h3>Ingredient List</h3>

<% @ingredients.each do |ingredient|%>
<li>
  <%= link_to ingredient.name, "#", {id:"ingredientName", data:{ingredient_id: ingredient.id}} %>
  <% end %>
  <br>
  <%= link_to "Back to Meal's list", meals_path %>
  <% end %>