<% if @meal %>
<h1><%= @meal.title %></h1>


<h1>Ingredient List</h1>

<% @ingredients.each do |ingredient|%>
<li>
  <%= link_to ingredient.name, "#", {id:"ingredientName", data:{ingredient_id: ingredient.id}} %>
  <div id="ingredientName-<%=ingredient.id%>">
  (<%= link_to "Remove", meal_ingredient_path(@meal, ingredient), method: :delete %>)
  </div>
  <% end %>
  <br>
  <br>
  <%= link_to "Back to Meal's list", meals_path %>
  <br>
  <%= link_to "Edit Ingredients", ingredients_path()%>

  <% else %>
  <h1>Ingredient List</h1>
<% end %>
<% @ingredients.each do |ingredient|%>
<li>
  <%= link_to ingredient.name, "#", {id:"ingredientName", data:{ingredient_id: ingredient.id}} %>
  <% end %>
  