<h1> Your Favorite Meals </h1>


<% @meals.each do |meal|%>
  <li>
    <%= link_to meal.title, meal_ingredients_path(meal)%>
    (<%= link_to "Ingredients", "#", {id:"ingredientShow", data:{meal_id: meal.id}} %>)
    
    <div id="ingredientForm-<%=meal.id%>">
    
    </div>
    <button style="display:none" id="hiddenAdd-<%=meal.id%>" >Add Ingredient</button>
    
      <div id="formAdd-<%=meal.id%>" style="display:none">
          <%= form_for @meals_ingredient do |f| %> 
            <%= f.hidden_field :meal_id, :value => meal.id %>
            <%= form_for @meals_ingredient.build_ingredient do |ingredients_fields| %>   
              <%= ingredients_fields.text_field :name %>
             <br>
             and amount
              <%= f.number_field :amount %>
               <%= f.select :unit, ["ounce(s)", "lb(s)", "cup(s)", "teas", "tbsp"] %>
              <%= f.submit %>
            <% end %>
            
          <% end %>
      </div>
    </li>



  <% end %>
  <div style="display:none" id="hidden">
  <%= render  'form', :locals => {:meal => Meal.new} %>

  </div>
    <br>
    <%= link_to "Make a new meal", new_meal_path(@meal)%>


    <h4> Vegetarian Meals</h4>

  <% @vegetarian.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal) %>
  </li>
  <% end %>
    <br>
    <h4>Gluten Free Meals</h4>
  <% @glutenfree.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal)%>
  </li>
  <% end %>
  <br>