<h1> Your Favorite Meals </h1>


<% @meals.each do |meal|%>
  <li>
    <%= link_to meal.title, meal_ingredients_path(meal)%>
    (<%= link_to "Ingredients", "#", {id:"editMeal", data:{meal_id: meal.id}} %>)
    
    <div id="editForm-<%=meal.id%>">
    </div>
  
  </li>



  <% end %>
  <div style="display:none" id="hidden">
  <%= render  'form', :locals => {:meal => Meal.new} %>
  </div>
    <br>
    <%= link_to "Make a new meal", new_meal_path(@meal)%>

    <h4> Vegetarian Meals</h4>

  <% @vegetarian.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal) %>
  </li>
  <% end %>
    <br>
    <h4>Gluten Free Meals</h4>
  <% @glutenfree.each do |meal|%>
  <li>
  <%= link_to meal.title, meal_ingredients_path(meal)%>
  </li>
  <% end %>
  <br>